* {
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    background-color: black;
}
.btn {
    width: 100px;
    height: 100px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
input
{
    border: 2px solid rgb(59, 198, 17);
}
.btn:hover
{
    background-color: rgb(20, 18, 18);
}
input:focus {
    outline: none;
}

.main {
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.container
{
    max-width: 300px;
    margin: auto;
}
.game
{
    margin-top: 40px;
}
.bt_0
{
    border-top: 0;
}
.br_0
{
    border-right: 0;
}
.bl_0
{
    border-left: 0;
}
.bb_0
{
    border-bottom: 0;
}
.res
{
    width: 130px;
    text-align: center;
    margin-top: 40px;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    color: #c51417;
    border: 2px solid #c51417 ;
    background-color: transparent;
}
.new
{
    width: 150px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(194, 173, 186);
    border: 2px solid rgb(194, 173, 186);
    background-color: transparent;

}

